language: php

php:
   - 5.5

env:
   global:
     - PATH=$PATH:/home/travis/.composer/vendor/bin

sudo: false

install:
     - composer self-update
     - composer create-project drupal/drupal web 8.0.x-dev --stability dev --no-interaction
     - ls -l
     #- composer create-project drupal-composer/drupal-project:8.x-dev web --stability dev --no-interaction


