language: php

php:
   - 5.5

env:
   global:
     - PATH=$PATH:$HOME/.composer/vendor/bin

sudo: false

before_install:
     - ls -l
     - composer self-update
     #- composer create-project drupal/drupal web 8.0.x-dev --no-interaction
     - git clone --branch 8.0.x http://git.drupal.org/project/drupal.git web
     - cd web
     - composer require symfony/translation:~2.7
     - composer require drupal/drupal-extension
     - composer global require drush/drush:dev-master
     - drush site-install --db-url=sqlite://./web.sqlite --account-name=admin --account-pass=password --site-name=boo --yes --quiet
