language: php

php:
   - 5.5

env:
   global:
     - PATH=$PATH:$HOME/.composer/vendor/bin

sudo: false

before_install:
     - composer self-update
     #- composer create-project drupal/drupal web 8.0.x-dev --no-interaction
     - git clone --branch 8.0.x http://git.drupal.org/project/drupal.git web
     - cd web/core
     - composer require symfony/translation:~2.7
     - composer require drupal/drupal-extension
     - composer global require drush/drush:dev-master
     - cd ..
     - drush site-install --db-url=sqlite://./web.sqlite --account-name=admin --account-pass=password --site-name=boo --yes 
     - drush runserver --server=builtin 8080 --strict=0 &
     #- until netstat -an 2>/dev/null | grep '8080.*LISTEN'; do sleep 0.2; done
     - cd modules
     - git clone https://github.com/mohankumargupta/mentionsdrupal8module.git mentions
     - wget "http://selenium-release.storage.googleapis.com/2.45/selenium-server-standalone-2.45.0.jar"
     - "sh -e /etc/init.d/xvfb start"
     - "export DISPLAY=:99.0"
     - "java -jar selenium-server-standalone-2.45.0.jar > /dev/null 2>/dev/null &"
     - cd ..

before_script:
     - drush en -y mentions
     - drush pm-list --pipe --type=module --status=enabled --no-core | grep -x mentions
     - drush cr
     - cd core
     - cp -a  ../modules/mentions/features .
     - cp -a ../modules/mentions/behat.yml .
     - find . -name behat
     - ./vendor/bin/behat -dl

script:
     #- ./vendor/phpunit/phpunit/phpunit --list-groups
     - ./vendor/phpunit/phpunit/phpunit --group Mentions
     - ./vendor/bin/behat