language: php

php:
   - 5.5

env:
   global:
     - PATH=$PATH:$HOME/.composer/vendor/bin

sudo: false

install:
     - composer self-update
     - composer create-project drupal/core web 8.0.x-dev --no-interaction
     - cd web
     - composer require symfony/translation:~2.7
     - composer require drupal/drupal-extension
     - composer global require drush/drush:dev-master
     - drush site-install --db-url=sqlite://web.sqlite --account-name=admin --account-pass=password --site-name=boo --yes --quiet
